@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

/* General Css */
body {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

/* Sheared Css */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* header Section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 35px 0;
}
.header .logo {
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono", monospace;
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: left;
}

.header .resume {
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-family: "Azeret Mono", monospace;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}

.header .resume button {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  padding: 17px 24px 17px 24px;
}

/* Hero Section */

.hero-section {
  background-image: url("../images/Hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section .hero-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 26px 69px 74px 73px;
}

.hero-section .hero-info .vector {
  margin-top: 26px;
  margin-bottom: 32px;
}

.hero-section .hero-info .heading {
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-family: "Azeret Mono", monospace;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}

.hero-section .hero-info .description {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0 73px;
}

.hero-section .hero-info .btn {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  padding: 21px 24px 21px 24px;
  margin: 32px 0px 44px;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  text-decoration: none;
}

/* web Section */

.web .web-section {
  padding: 80px 97px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
}

.web .web-section .web-info {
  margin: 0px 47px 48px 47px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.web .web-section .web-info .heading {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}

.web .web-section .web-info .description {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin: 24px 0px;
}

.web .web-section .web-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 16px;
  padding: 48px;
  background: rgb(255, 255, 255);
  margin-bottom: 32px;
}

.web .web-section .web-box .info {
  max-width: 50%;
}

.web .web-section .web-box .info .heading {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin: 10px 0px 16px 0px;
}

.web .web-section .web-box .info .description {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
}

.web .web-section .web-box .info .btn {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  display: inline-block;
  text-decoration: none;
  margin: 32px 0px;
  padding: 12px 20px 12px 20px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}

/* Inspiration Section */
.inspiration {
  margin-top: 88px;
}

.inspiration .inspiration-info .heading {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}

.inspiration .inspiration-info .description {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
}

.inspiration .inspiration-video {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  margin: 48px 0px;
  padding: 32px;
}

.inspiration .inspiration-video iframe {
  border-radius: 15px;
}

/* CurrentTarget Section */
.currentTarget {
  margin-top: 149px;
}

.currentTarget .currentTarget-info {
  max-width: 852px;
  margin: 0 auto;
}

.currentTarget .currentTarget-info .heading {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}

.currentTarget .currentTarget-info .description {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin: 24px 0;
}

.currentTarget .currentTarget-what {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
}

.currentTarget .currentTarget-what .currentTarget-modal {
  border-radius: 16px;
  padding: 40px;
  background: rgba(255, 76, 30, 0.05);
}

.currentTarget .currentTarget-what .currentTarget-modal h4 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 24px;
}

.currentTarget .currentTarget-what .currentTarget-modal p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
  margin: 8px 0;
}

.currentTarget .currentTarget-what .currentTarget-modal a {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  display: inline-block;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration: none;
  margin-top: 24px;
  border-bottom: 3px solid black;
}

/* support Section */
.support {
  margin-top: 111px;
  margin-bottom: 79px;
}

.support .support-container {
  border-radius: 16px;
  padding: 64px 48px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("../images/handshake.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.support .support-container .support-info h4 {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 16px;
}

.support .support-container .support-info p {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin: 16px 0 24px;
}

.support .support-container .support-query {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 24px; */
}

.support .support-container .support-query input[type="text"] {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  padding: 19px 20px;
  color: rgba(13, 19, 33, 0.4);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  width: 70%;
  background: rgb(255, 255, 255);
}

.support .support-container .support-query input[type="submit"] {
  border-radius: 8px;
  padding: 17px 20px 17px 20px;
  margin-left: 16px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  background: rgb(255, 255, 255);
  cursor: pointer;
}

/* footer section */
footer {
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
  padding: 32px 150px 32px 150px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}
